asgiref==3.7.2
dj-database-url==2.1.0
Django==3.2.23
django-on-heroku==1.1.2
psycopg2-binary==2.9.9
pytz==2023.3.post1
sqlparse==0.4.4
typing-extensions==4.7.1
whitenoise==6.5.0
nltk==3.8.1
git+https://github.com/gunthercox/ChatterBot.git@1.0.4#egg=ChatterBot


